/* Start Global Ruls  */
:root{
    --main-color:#f5cb57;
    --transparent-color:#0f748f;
}
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;

}
ul{
    list-style: none;
    
}
.contanier {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    min-height: 92px;
}
/* Smaal  */
@media (max-width:768px){
    .contanier{
        width: 750px;
    }
}
/* medi  */
@media (min-width:768px){
    .contanier{
        width: 750px;
    }
}
/* Medium  */
@media (min-width:991px){
    .contanier{
        width: 970px;
    }
}
/* Large */
@media (min-width:1200px){
    .contanier{
        width: 1170px;
    }
}
/* End Global Ruls  */
/* Satrt header  */
header{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 100;
    background-color: black;
}
header .contanier{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .contanier::before{
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2aa;
    width: calc(100% - 30px);
    left: 15px;
    bottom: 0;
}
header .logo img{
    height: 50px;
}
header nav{
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
header nav ul{
    display: flex;

}
header nav ul li a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 35px ;
}


header nav ul li .active,
header nav ul li a:hover{
    border-bottom: 2px solid var(--main-color);
    color: var(--main-color);
    transition: 0.5s;
    transform: translateX(10px);
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}
header nav  .icon{
    margin-left: 20px;
}
header nav  .icon i{
    font-size: 20px;
    color: white;
    margin: 20px;
}
header nav  .icon i:hover{
    color: var(--main-color);
    transition: 0.2s;
    transform: translateX(5px);
    -webkit-transform: translateX(5px);
    -moz-transform: translateX(5px);
    -ms-transform: translateX(5px);
    -o-transform: translateX(5px);
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
}